extends layouts/master

block content

    header.bar.bar-nav
        button.btn.pull-left
            | Left
            
        button.btn.pull-right
            | Right
        
        h1 Drop Link
        
    div.content-padded
        // App content here
        .row
            div.col-xs-12
                // row for the app menu
                .row
                    div.col-xs-4
                    
                    div.col-xs-4
                    
                    div.col-xs-4
                
