extends layouts/master

block content

    header.bar.bar-nav.light-grey-bg.article-card-list-menu
        a(href="javascript:;").icon.icon-bars.pull-left
        a(href="javascript:;").icon.icon-search.pull-right

        h1.title Welcome Chebet

    div.content.news-content.light-grey-bg.space

        // App content here
        .article-card.col-xs-12
            h3.bold.space-xs Popular Drops
            .col-xs-6.article.card-image
                img.img-responsive(src="http://lorempixel.com/300/300/")

            .col-xs-6.article.card-content
                h6.bold.uppercase business
                h4 Tristan Walker: The invisble man
                small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...
                br
                small.bold
                    i.fa.fa-heart.red&nbsp; 251K
                    i.fa.fa-chat.green&nbsp; 51K
                    i.fa.fa-share-alt.blue&nbsp; 51K

        // App content here
        .article-card.col-xs-12
            .col-xs-6.article.card-content
                h6.bold.uppercase business
                h4 Tristan Walker: The invisble man
                small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...
                br
                small.bold
                    i.fa.fa-heart.red&nbsp; 251K
                    i.fa.fa-chat.green&nbsp; 51K
                    i.fa.fa-share-alt.blue&nbsp; 51K

            .col-xs-6.article.card-image
                img.img-responsive(src="http://lorempixel.com/300/300/")

        // App content here
        .article-card.col-xs-12
            .col-xs-6.article.card-image
                img.img-responsive(src="http://lorempixel.com/300/300/")

            .col-xs-6.article.card-content
                h6.bold.uppercase business
                h4 Tristan Walker: The invisble man
                small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...
                br
                small.bold
                    i.fa.fa-heart.red&nbsp; 251K
                    i.fa.fa-chat.green&nbsp; 51K
                    i.fa.fa-share-alt.blue&nbsp; 51K

        // App content here
        .article-card.col-xs-12
            .col-xs-6.article.card-content
                h6.bold.uppercase business
                h4 Tristan Walker: The invisble man
                small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore...
                br
                small.bold
                    i.fa.fa-heart.red&nbsp; 251K
                    i.fa.fa-chat.green&nbsp; 51K
                    i.fa.fa-share-alt.blue&nbsp; 51K

            .col-xs-6.article.card-image
                img.img-responsive(src="http://lorempixel.com/300/300/")
