extends layouts/master

block content

    div.layer.gradient
    div.layer.image

    header.bar.bar-nav.menu-header
        a(href="menu.html" data-transition="slide-in").icon.icon-bars.pull-left
        a(href="search.html" data-transition="slide-in").icon.icon-search.pull-right

        //- h1.title Drop Link

    div.content.transparent.text-center.grey

        div.app-logo.space-xs
            img.img-responsive(src="./dist/images/logo.png")

        // App content here
        .col-xs-12.registration
            div.info
                h2.white.uppercase Register
                small.white After registration you can customise what drops you'd want to recieve. Only follow stories that matter most to you.

        .signup
            .col-xs-12.option.facebook.text-left
                a(href="menu.html")
                    h4.white.uppercase
                        i.fa.fa-facebook.fa-1x&nbsp;
                        | Facebook

            .col-xs-12.option.whatsapp.text-left
                a(href="menu.html")
                    h4.white.uppercase
                        i.fa.fa-whatsapp.fa-1x&nbsp;
                        | WhatsApp