extends layouts/master

block content

    div.layer.gradient
    div.layer.image

    header.bar.bar-nav.menu-header
        a(href="menu.html").icon.icon-bars.pull-left
        a(href="search.html").icon.icon-search.pull-right

        //- h1.title Drop Link

    div.content.transparent.text-center.grey
        // App content here
        .col-xs-12.space-lg
            h3.white.uppercase Make Drop Your Own
            small.white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .row.menu-map
            div.col-xs-12.text-center.menu-row
                // row for the app menu
                .row
                    div.col-xs-4
                        span.fa.fa-futbol-o
                        p.lead Sports
                    div.col-xs-4
                        span.fa.fa-briefcase
                        p.lead Politics
                    div.col-xs-4
                        span.fa.fa-map-marker
                        p.lead Travel

            div.col-xs-12.text-center.menu-row
                // row for the app menu
                .row
                    div.col-xs-4
                        span.fa.fa-tree
                        p.lead Nature
                    div.col-xs-4
                        span.fa.fa-cloud
                        p.lead Weather
                    div.col-xs-4
                        span.fa.fa-user-secret
                        p.lead Fashion

            div.col-xs-12.text-center.menu-row
                // row for the app menu
                .row
                    div.col-xs-4
                        span.fa.fa-space-shuttle
                        p.lead Science
                    div.col-xs-4
                        span.fa.fa-puzzle-piece
                        p.lead Entertainment
                    div.col-xs-4
                        span.fa.fa-venus-mars
                        p.lead Culture

