extends layouts/master

block content

    header.bar.bar-nav.light-grey-bg.article-card-list-menu
        a(href="menu.html").icon.icon-bars.pull-left
        a(href="search.html").icon.icon-search.pull-right

        h1.title Welcome Chebet

    div.content.news-content.light-grey-bg

        div.space-xs

        .search-card.col-xs-12
            .col-xs-8.search-body
                a(href="article.html")
                    h5.blue All you need to know about ISIS
                small
                    a(href="") http://somelink.com/to/go/to-read
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...

            .col-xs-4.highlight.search-image
                a(href="#")
                    img.img-responsive(src="http://lorempixel.com/200/200")

        .col-xs-12
            p.space-xs Search results for <i>ISIS</i>

        .search-card.col-xs-12
            .col-xs-12.search-body
                a(href="article.html")
                    h5.blue All you need to know about ISIS
                small
                    a(href="") http://somelink.com/to/go/to-read
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...

        .search-card.col-xs-12
            .col-xs-12.search-body
                a(href="article.html")
                    h5.blue All you need to know about ISIS
                small
                    a(href="") http://somelink.com/to/go/to-read
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...

        .search-card.col-xs-12
            .col-xs-12.search-body
                a(href="article.html")
                    h5.blue All you need to know about ISIS
                small
                    a(href="") http://somelink.com/to/go/to-read
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...

        .search-card.col-xs-12
            .col-xs-4.highlight.search-image
                a(href="#")
                    img.img-responsive(src="http://lorempixel.com/200/200")

            .col-xs-8.search-body
                a(href="article.html")
                    h5.blue All you need to know about ISIS
                small
                    a(href="") http://somelink.com/to/go/to-read
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...

        .search-card.col-xs-12
            .col-xs-12.search-body
                a(href="article.html")
                    h5.blue All you need to know about ISIS
                small
                    a(href="") http://somelink.com/to/go/to-read
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...